* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Blank'  ;
    src:url(./fonts/Blank\ River.eot);
    src:url(./fonts/Blank\ River.eot?#iefix) format('embedded-opentype'),
        url(./fonts/Blank\ River.ttf) format('truetype'),
        url(./fonts/Blank\ River.woff) format('woff'),
        url(./fonts/Blank\ River.svg#svgBlank) format('svg');

}
body {
    font-family: system-ui, sans-serif;
    background-color: #e0f5fc;
    color: #333;
    line-height: 1.6;
    padding: 1rem;
}

.navbar{
    background-color: #333;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 1em;
    left: 0;
    z-index: 1;
}
.nav__item{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.nav__item:hover{
    color: #e74c3c;
}

.nav__item:visited{
    color: rgba(255, 255, 255, 0.5);
}


header {
    text-align: center;
    margin-bottom: 2rem;
}

main{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin-inline: auto;
}

main h1, h2 {
    font-size: 2.5rem;
    color: #c0392b;
    margin-bottom: 0.5rem;
    font-family: Blank ;
}

.title{
    font-size: 5rem;
}

.panfleto{
    object-fit: cover;
    max-width: 100%;
    min-width: 75%;
}

li{
    list-style: none;
}

.footer{
    margin-block: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}